.contact-preview-container {
    padding: 10px;
    min-width: 450px;
    width: 400px;
}

.contact-preview {
    padding: 10px 0;
    box-shadow: 0.5px 0.3px 0.3px 0.2px $clr-prime-2;
    &:hover {
        box-shadow: 0.5px 0.3px 0.3px 0.6px $clr-prime-2;
        cursor: pointer;
    }
    .previewer {
        align-items: center;
        h2 {
            margin-inline-start: 10px;
        }
    }
}